.container{
    margin-bottom: 100px;
}

.buy-now-button{
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}

footer{
    text-align: center;
    color: gray;
}